@import url("https://cdn.jsdelivr.net/gh/sun-typeface/SUITE@2/fonts/variable/woff2/SUITE-Variable.css");

@import "tailwindcss";

html,
body {
  margin: 0;
  padding: 0;
  background: #f4f5f7;
  color: #222;
  font-family: "SUITE Variable", sans-serif;
}

* {
  box-sizing: border-box;
}

button,
input,
textarea,
select {
  font-family: "SUITE Variable", sans-serif;
}

button {
  cursor: pointer;
}

textarea {
  resize: vertical;
}